@font-face {
    font-family: LillyBelle;
    src: url("/assets/fonts/LillyBelle.ttf");
}

/* Text */

#newGameText, #newGameText_p, #joinGameText, #joinGameText_p {
    -fx-font: 50px LillyBelle;
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.3, 0, 0);
}

#nicknameTab {
    -fx-font: 30px LillyBelle;
    -fx-fill: #664d39;
    -fx-effect: innershadow(three-pass-box, black, 5, 0.2, 0, 0);
}