@font-face {
    font-family: LillyBelle;
    src: url('/assets/fonts/LillyBelle.ttf');
}

#textBox{
    -fx-font: 30px LillyBelle;
    -fx-fill: black;
}

#firstPlayerID, #secondPlayerID, #thirdPlayerID{
    -fx-font: 40px LillyBelle;
    -fx-fill: white;
}

#activePlayer{
    -fx-font: 15px LillyBelle;
    -fx-fill: #412711
}