@font-face {
    font-family: LillyBelle;
    src: url('../assets/fonts/LillyBelle.ttf');
}

@font-face {
    font-family: "Minion Pro";
    src: url('../assets/fonts/MinionPro-Bold.otf');
}

#godBox {
    -fx-effect: dropshadow(three-pass-box, white, 30, 0.5, 0, 0);
}

/* Text */

#firstPlayerID, #secondPlayerID, #thirdPlayerID {
    -fx-font: 36px LillyBelle;
    -fx-fill: white;
    -fx-stroke: #2d2723;
    -fx-stroke-type: outside;
    -fx-stroke-width: 2;
}

#infoBox {
    -fx-font: 32px LillyBelle;
    -fx-fill: #664d39;
    -fx-effect: innershadow(three-pass-box, black, 7, 0.2, 0, 0);
    -fx-line-spacing: -10px;
}

#activePlayer {
    -fx-font: 15px LillyBelle;
    -fx-fill: #412711
}

/* Log */

#log {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-background-radius: 5px;
}

#log .content {
    -fx-background-color: transparent;
}

#log .viewport {
    -fx-background-color: transparent;
}

#log .scroll-bar {
    -fx-background-color: transparent;
}

#log .increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#log .scroll-bar .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 5em;
    -fx-effect: innershadow(three-pass-box, black, 5, 0.7, 0, 0);
}

/* Buttons */

#yesText, #yesText_p, #noText, #noText_p {
    -fx-font: 28px LillyBelle;
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, black, 4, 0.3, 0, 0);
}

#highlight, #yesButton, #noButton, #logButton, #logButton_p {
    -fx-cursor: hand;
}

#reasonMessage {
    -fx-font: 36px "Minion Pro";
    -fx-text-alignment: center;
    -fx-fill: #2d2d2d;
    -fx-effect: innershadow(three-pass-box, black, 3, 0.4, 0, 0);
}

#disconnectionMessage, #eliminationMessage, #gameOverMessage {
    -fx-font: 40px LillyBelle;
    -fx-text-alignment: center;
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.3, 0, 0);
}

#opaqueBackground {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

#confirmButtonText, #confirmButtonText_p, #continueButtonText, #continueButtonText_p, #returnToLobbyButtonText, #returnToLobbyButtonText_p {
    -fx-font: 23px LillyBelle;
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.3, 0, 0);
}

#opaquePanel1, #opaquePanel2, #opaquePanel3 {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}