@font-face {
    font-family: LillyBelle;
    src: url('/assets/fonts/LillyBelle.ttf');
}

@font-face {
    font-family: "Minion Pro";
    src: url('/assets/fonts/MinionPro-Regular.otf');
}

#infoBox {
    -fx-font: 30px LillyBelle;
    -fx-fill: black;
}

#firstPlayerID, #secondPlayerID, #thirdPlayerID {
    -fx-font: 36px LillyBelle;
    -fx-fill: white;
    -fx-stroke: #2d2723;
    -fx-stroke-type: outside;
    -fx-stroke-width: 2;
}

#infoBox {
    -fx-font: 32px LillyBelle;
    -fx-fill: #664d39;
    -fx-effect: innershadow(three-pass-box, black, 7, 0.2, 0, 0);
    -fx-line-spacing: -10px;
}

#activePlayer {
    -fx-font: 15px LillyBelle;
    -fx-fill: #412711
}

#godBox {
    -fx-effect: dropshadow(three-pass-box, white, 30, 0.5, 0, 0);
}

/* log */

#log {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-background-radius: 5px;
}

#log .content {
    -fx-background-color: transparent;
}

#log .viewport {
    -fx-background-color: transparent;
}

#log .scroll-bar {
    -fx-background-color: transparent;
}

#log .increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#log .scroll-bar .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 5em;
    -fx-effect: innershadow(three-pass-box, black, 5, 0.7, 0, 0);
}