@font-face {
    font-family: LillyBelle;
    src: url("/assets/fonts/LillyBelle.ttf");
}

#scrollPane {
    -fx-background: transparent;
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-background-radius: 5em;
    -fx-effect: innershadow(three-pass-box, black, 5, 0.7, 0, 0);
}

/* Text */

#topBannerText {
    -fx-font: 40px LillyBelle;
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.3, 0, 0);
}

#centerText, #chooseYesNoText {
    -fx-font: 50px LillyBelle;
    -fx-fill: #664d39;
    -fx-effect: innershadow(three-pass-box, black, 7, 0.2, 0, 0);
}

/* God Cards */

#cardClicked {
    -fx-effect: innershadow(three-pass-box, #ffef00, 40, 0.7, 0, 0);
}

/* Buttons */

#yesText, #yesText_p, #noText, #noText_p, #confirmText, #confirmText_p {
    -fx-font: 35px LillyBelle;
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.3, 0, 0);
}

#yesButton, #noButton, #confirmButton, #cardNotClicked, #cardClicked {
    -fx-cursor: hand;
}
