@font-face {
    font-family: LillyBelle;
    src: url("/assets/fonts/LillyBelle.ttf");
}

/* Text */

#titleText {
    -fx-font: 45px LillyBelle;
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, #0d3c61, 4, 1.0, 0, 0);
}

#connectText, #connectText_p {
    -fx-font: 30px LillyBelle;
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.3, 0, 0);
}

#connectButton {
    -fx-cursor: hand;
}