@font-face {
    font-family: LillyBelle;
    src: url("/assets/fonts/LillyBelle.ttf");
}

/* Text */

#serviceMessage {
    -fx-font: 40px LillyBelle;
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box, black, 5, 0.3, 0, 0);
}